{{outlet}}

{{#alert-container as |alert|}}
	<p>{{alert.title}}</p>

	<div data-id="alertDescription">{{alert.description}}</div>
{{/alert-container}}

<input type="button" id="openOk" {{action "open" "ok"}} value="Open ok">